apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jenkins-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: REPLACE_GITOPS_REPO_URL
    targetRevision: main
    path: jenkins-ci-cd/lab-25/gitops
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
